.card-tilt {
  display: inline-block;
}

.card {
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.card.flipped {
  pointer-events: none;
  cursor: default;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  border-radius: 2rem;
  background-color: rgb(0, 0, 0);
  background-image: url(../../assets/images/card-bg-image.png);
  background-size: cover;
  background-position: center;
}

.card-front {
  padding: 1rem;
  position: relative;
}

.card-back {
  position: absolute;
  inset: 0;
  transform: rotateY(180deg);
}

.card-image {
  display: block;
  max-width: 100%;
  border-radius: 2rem;
}

.card-character-name {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .card-character-name {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
