.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 4rem;
}

@container (min-width: 480px) {
  .card-collection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (min-width: 900px) {
  .card-collection {
    grid-template-columns: repeat(4, 1fr);
  }
}

@container (min-width: 1600px) {
  .card-collection {
    grid-template-columns: repeat(6, 1fr);
  }
}
