.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  max-width: 80rem;
  width: 90%;
  aspect-ratio: 16 / 9;
  padding: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
  transition: opacity 1.5s ease;
}

.modal-box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 2rem;
}

.modal-box__won::before {
  background-color: rgba(50, 150, 50, 0.1);
}

.modal-box__lost::before {
  background-color: rgba(180, 0, 0, 0.1);
}

.modal-box.active {
  opacity: 1;
}

.modal-box__won {
  background-color: black;
  background-image: url(../assets/images/modal-win.jpg);
  box-shadow: 0 0 10px 10px rgba(50, 150, 50, 0.5);
}

.modal-box__lost {
  background-color: black;
  background-image: url(../assets/images/modal-lose.jpg);
  box-shadow: 0 0 10px 10px rgba(180, 0, 0, 0.5);
}

.modal-box .result {
  letter-spacing: 0.25rem;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.modal-box__lost .result {
  background-color: rgb(180, 0, 0);
}

.modal-box__won .result {
  background-color: rgb(50, 150, 50);
}

.modal-box button {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  letter-spacing: 0.25rem;
}

@media (max-width: 600px) {
  .modal-box {
    aspect-ratio: 2 / 3;
    width: 80%;
  }
}
